@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#cf9aff,#95c0ff);
    color: #FFF;
    padding-top: 4%;
    padding-left: 10%;
}
.container h1{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
}
.container h1 i{
    margin-right: 5px;
    font-size: 35px;
}
.container button{
    display: flex;
    align-items: center;
    background: linear-gradient(#9418fd,#571094);
    color: #fff;
    font-size: 16px;
    outline: 0;
    border: 0;
    border-radius: 40px;
    padding: 15px 25px;
    margin: 30px 0 20px;
    cursor: pointer;
}
.container button i{
    margin-right: 5px;
    font-size: 16px;
}
.inputBox {
    position: relative;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    color: #333;
    padding: 15px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inputBox textarea {
    width: 100%;
    height: 100px; /* Adjust height for multiline input */
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #f7f7f7;
    resize: none; /* Prevent resizing */
}

.inputBox i {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    color: #333;
}
