@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background: linear-gradient(45deg, #08001f, #30197d);
}
.hero {
  width: 100%;
  min-height: 100vh;
  /* background: linear-gradient(45deg, #08001f, #30197d); */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 150px;
  width: 60%;
  position: relative;
}
.container_box {
  position: relative;
  height: 150px;
  width: 100%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
  border: 1px solid rgba(255, 255, 255, 0.22);
  z-index: 100;
}
.square {
  height: 130px;
  width: 130px;
  background: #cd0877;
  border-radius: 10px;
  position: absolute;
  top: -50px;
  left: -50px;
  z-index: 2;
}
.circle {
  height: 130px;
  width: 130px;
  background: #0892cd;
  border-radius: 50%;
  position: absolute;
  bottom: -50px;
  right: -50px;
  z-index: 2;
}
.container_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
  gap: 25px;
}
.container_box .dot {
  color: #000;
}
.isMorning {
  display: block;
}
/* am pm button */
.h2412 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  z-index: 100;
}
.h24,
.h12 {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.h24.active,
.h12.active {
  background-color: #f0f0f0;
  color: #333;
}

.am:hover,
.pm:hover {
  background-color: #fff;
  color: #333;
}
@media (max-width: 500px) {
  .hero {
    /* ... other styles ... */
    flex-direction: column; /* Stack elements vertically on smaller screens */
    align-items: center;
    justify-content: flex-start;
    margin-top: 200px;
  }
  .square,.circle{
    transform: scale(0.7);
  }
  .container {
    /* ... other styles ... */
    height: 150px;
    width: 80%;
    flex-direction: column; /* Stack time elements vertically */
    align-items: center;
  }

  .hours,
  .minutes,
  .seconds,
  .h2412,
  .isMorning {
    font-size: 2rem; /* Adjust font size for smaller screens */
  }

  .dot {
    font-size: 2rem;
  }
}
