@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background-color: #8c6767;
}
#backBtn,
#nextBtn{
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}
.galleryWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}
.gallery{
    width: 900px;
    display: flex;
    gap: 60px;
    overflow-x: scroll;
}
.gallery-inner{
    display: flex;
    gap: 20px;
    transition: transform 0.3s ease-in-out;
    
}
.gallery div{
    width: 100%;
    display: grid;
    grid-template-columns:  auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}
.gallery div img{
    /* width: 100px;
    height: 100px; */
    width: 300px;
    height: 300px;
    filter: grayscale(1);
    transition: transform 0.5s;

}
.gallery div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}
.gallery::-webkit-scrollbar{
    display: none;
}

